@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'SourceSans3';
    src: url('../public/fonts/SourceSans3/SourceSans3-VariableFont_wght.ttf');
}

/* Default styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.2;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}
p {
    font-family: Arial, sans-serif;
}
